:root {
  --black: black;
  --white: white;
  --transparent: #0000;
  --light-pink: #b620e0;
  --light-blue: #6619ff;
  --_apps---colors--ring-dark\<deleted\|variable-fe14edab-1bf4-11c9-7142-d71b1282649c\>: #c869e8;
  --off-light: #f9f6f6;
  --_apps---colors--primary\<deleted\|variable-acfa1ba4-e1ee-3cf1-2ff7-fbbffa5c3ef9\>: #b620e0;
  --accessible-components--dark-grey\<deleted\|variable-c4d8099c\>: #9b9b9b;
  --off-white: #fbfbfb;
  --offpink: #f9f6f6;
  --navyblue: #191121;
  --relume-library-lite--grey: #e4e2df;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--black);
  color: #333;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  color: var(--white);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .9rem;
  font-weight: 700;
  line-height: 1.5rem;
}

p {
  color: var(--white);
  margin-bottom: 10px;
}

a {
  text-decoration: underline;
}

ul {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

img {
  max-width: 100%;
  display: inline-block;
}

.navbar_logo {
  border-radius: 10px;
  width: 200px;
}

.navbar_button-wrapper {
  grid-column-gap: 1rem;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 1rem;
  display: flex;
}

.navbar_component {
  position: sticky;
}

.navbar_menu-button {
  padding: 0;
}

.navbar_logo-link {
  width: 200px;
  padding-left: 0;
}

.container-large {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.body {
  background-color: var(--white);
}

.home_div {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-size-large {
  text-align: left;
  font-size: 1.25rem;
  line-height: 2rem;
  position: relative;
}

.text-size-large.is-center {
  margin-bottom: 0;
}

.text-size-large.is-center.is-white, .text-size-large.is-white {
  color: #fff;
}

.padding-medium {
  height: 1.25rem;
}

.heading-style-h2 {
  color: var(--black);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  position: static;
}

.heading-style-h2.is-white {
  color: var(--white);
}

.heading-style-h2.is-mobile-center {
  font-size: 2.4rem;
}

.button-secondary {
  background-color: var(--transparent);
  background-image: linear-gradient(90deg, var(--light-pink), var(--light-blue));
  color: var(--white);
  text-align: center;
  cursor: pointer;
  transform-style: preserve-3d;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  font-size: 16px;
  transition: all .25s ease-in;
  transform: scale3d(.99, .99, .99);
}

.button-secondary:hover {
  background-color: var(--transparent);
  background-image: linear-gradient(90deg, var(--light-blue), var(--light-pink));
  box-shadow: 0 2px 4px 0 var(--_apps---colors--ring-dark\<deleted\|variable-fe14edab-1bf4-11c9-7142-d71b1282649c\>);
  transform: scale(1);
}

.text-style-medium {
  color: var(--black);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.button-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.card-item {
  border-radius: .25rem;
  width: 100%;
  height: 35rem;
  position: relative;
  overflow: hidden;
}

.heading-style-h3 {
  color: var(--black);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-decoration: none;
}

.heading-style-h3.is-white {
  color: var(--white);
  font-size: 1.5rem;
  line-height: 2rem;
}

.heading-style-h3.is-white.mb-10 {
  margin-bottom: 10px;
}

.navbar-wrapper {
  background-color: var(--black);
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
}

.is-center {
  text-align: center;
}

.what-we-do-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  display: flex;
}

.text-size-medium {
  color: var(--black);
  text-align: left;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: none;
}

.text-size-medium.is-center {
  text-align: center;
  margin-bottom: 0;
}

.text-size-medium.is-center.is-white {
  color: var(--white);
}

.swiper-button-2, .swiper-button-3 {
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  display: flex;
  position: relative;
}

.contact-wrapper {
  z-index: 4;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--off-light);
  border-radius: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  padding: 60px;
  display: flex;
  position: relative;
}

.uui-navbar03_dropdown-link-list {
  grid-column-gap: 0px;
  grid-row-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

.uui-navbar03_menu-dropdown {
  position: static;
}

.uui-navbar03_dropdown-content {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.uui-navbar03_dropdown-content.new {
  border-radius: 0 0 0 3px;
  justify-content: space-between;
  align-items: center;
  display: block;
}

.uui-navbar05_dropdown-link-list-5 {
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
}

.uui-navbar03_dropdown-content-left {
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: grid;
}

.uui-navbar03_dropdown-content-left.new-grid {
  height: 120px;
  box-shadow: none;
  padding-left: 10px;
  display: block;
}

.uui-navbar03_dropdown-content-left.new-grid.no-shadow {
  height: 300px;
  box-shadow: none;
  flex: 1;
}

.uui-navbar03_dropdown-content-left.new-grid.no-shadow-copy {
  height: auto;
  box-shadow: none;
  flex: 1;
}

.uui-navbar03_dropdown-content-left.new-grid {
  height: 120px;
  box-shadow: 0 2px 5px #b620e0;
  box-shadow: none;
  border-radius: 1px;
  padding-left: 10px;
  display: block;
}

.uui-navbar03_dropdown-content-left.new-1 {
  grid-column-gap: 5rem;
}

.uui-navbar03_container {
  z-index: 2147483647;
  box-sizing: content-box;
  background-image: linear-gradient(#000000e6, #000000e6);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.uui-navbar03_container.new {
  background-image: linear-gradient(#00000080, #00000080);
  width: 300px;
  height: auto;
  margin-bottom: 10px;
  position: relative;
  left: -60px;
}

.uui-navbar03_container.new.new2 {
  width: 250px;
  box-shadow: 3px 3px 0 0 var(--light-pink);
  width: 250px;
  box-shadow: none;
  background-image: linear-gradient(#000000e6, #000000e6);
  border-radius: 0 0 0 5px;
  margin-left: 30%;
  padding-bottom: 0;
  padding-left: 1rem;
}

.uui-navbar03_container.new.new2 {
  width: 250px;
  box-shadow: none;
  background-image: linear-gradient(#000000e6, #000000e6);
  border-radius: 0 0 0 5px;
  margin-left: 30%;
  padding-bottom: 0;
  padding-left: 1rem;
}

.uui-navbar03_container.new.new2.new-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-image: none;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  height: 300px;
  margin-left: 50%;
  display: flex;
  left: auto;
}

.uui-navbar03_container.new.new2.new-4 {
  background-image: none;
  margin-left: 30%;
  left: auto;
}

.uui-navbar03_container.new {
  background-image: linear-gradient(#00000080, #00000080), linear-gradient(#000000e6, #000000e6);
  width: 300px;
  height: auto;
  margin-bottom: 10px;
  padding-left: 1rem;
  position: relative;
  left: -60px;
}

.uui-navbar03_container._001 {
  background-image: linear-gradient(#000000e6, #000000e6);
  padding-bottom: 40px;
}

.list-item01 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 15px;
  line-height: 22px;
}

.list-item01.is-margin-10px {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.list-wrapper {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
}

.list-wrapper.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.uui-navbar05_item-heading-2-copy {
  color: #101828;
  margin-bottom: .25rem;
  padding-left: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
}

.uui-navbar05_item-heading-2-copy.main {
  color: #b620e0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  transition: all .2s;
}

.uui-navbar05_dropdown-link-list-5-copy {
  grid-column-gap: 0px;
  grid-row-gap: 0rem;
  flex-flow: column;
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.section-footer {
  background-image: linear-gradient(90deg, var(--light-blue), var(--light-pink));
  padding: 40px 5%;
}

.footer_top-wrapper {
  grid-column-gap: 13.5rem;
  grid-row-gap: 16rem;
  grid-template-rows: auto;
  grid-template-columns: 1.25fr .75fr;
  place-items: start stretch;
  margin-bottom: 20px;
  display: grid;
}

.footer_link {
  color: var(--white);
  padding-top: .5rem;
  padding-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  transition: all .3s ease-in;
}

.footer_link:hover {
  opacity: .85;
}

.footer_logo {
  border-radius: 0;
  width: 250px;
  padding-top: 4px;
}

.footer_social-list {
  grid-column-gap: .75rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: 50px;
  grid-auto-columns: 50px;
  grid-auto-flow: column;
  place-items: start;
  display: grid;
}

.aim-linkedin {
  border: 2px solid var(--white);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
  transition: all .3s ease-in;
  display: flex;
}

.aim-linkedin:hover {
  opacity: .8;
}

.footer_link-list {
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  place-items: flex-start start;
  width: 130px;
  display: flex;
}

.footer_logo-link {
  float: none;
  padding-left: 0;
}

.linkedin-aim-icon {
  width: 40px;
  height: 40px;
  color: var(--white);
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer_menu-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: .75fr .75fr .75fr 1.25fr;
  place-items: start stretch;
}

.footer_link-main {
  color: var(--white);
  padding-top: 0;
  padding-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75;
  text-decoration: none;
  transition: all .3s ease-in;
}

.footer_link-main:hover {
  opacity: .85;
}

.footer_bottom-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer_line-divider {
  background-color: var(--white);
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
}

.footer_credit-text {
  color: var(--white);
  font-family: Open Sans, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-size-small {
  color: var(--black);
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  line-height: 1.7rem;
  position: relative;
}

.text-size-small.is-white {
  color: var(--white);
}

.header-image {
  object-fit: cover;
  border-radius: 20px;
  width: 550px;
}

.header-image.right-hight {
  height: 400px;
  box-shadow: 20px -20px 0 5px #a91fe6;
}

.list {
  grid-column-gap: 1.8rem;
  grid-row-gap: 1.8rem;
  color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  display: flex;
}

.list.left-align {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.bold-text-01 {
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 600;
}

.bold-text-01.is-black {
  color: var(--black);
}

.list-item-01 {
  color: var(--white);
  text-align: left;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.list-item-01.is-black {
  color: var(--black);
}

.list01 {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  list-style-type: disc;
  display: flex;
}

.contact-wrapper-pruple {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: var(--off-light);
  background-image: linear-gradient(90deg, var(--light-blue), var(--light-pink));
  border-radius: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  padding: 60px;
  display: flex;
}

.button-secondary-border {
  border: 2px solid var(--white);
  background-color: var(--transparent);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  transition: all .3s ease-in;
}

.button-secondary-border:hover {
  background-image: linear-gradient(90deg, var(--light-blue), var(--light-pink));
}

.al-div-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-content: stretch;
  align-items: stretch;
  width: 100%;
  display: grid;
}

.ai-wrapper {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  display: flex;
  position: sticky;
}

.ai-wrapper.is-m-t {
  margin-top: 4rem;
}

.key-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-image: linear-gradient(#402d5899, #402d5899);
  border-radius: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 60px 40px;
  display: flex;
}

.heading-style-h4 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.6rem;
}

.hide {
  display: none;
}

.div-btn {
  margin-left: 20px;
}

.btn-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all .3s ease-in;
  display: flex;
}

.timeline10_circle {
  z-index: 2;
  background-color: #f85d3a;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: .9375rem;
  height: .9375rem;
  margin-top: 3rem;
  box-shadow: 0 0 0 8px #fff;
}

.padding-global {
  padding-left: 3%;
  padding-right: 3%;
}

.address {
  justify-content: center;
  align-items: center;
  display: flex;
}

.address.hide {
  display: none;
}

.icon-email {
  width: 40px;
  height: 40px;
}

.icon-email.mr-10 {
  margin-right: 10px;
}

.address-bar {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.heading-style-h5 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
}

.heading-style-h5.is-center.is-white {
  color: var(--white);
  text-decoration: none;
}

.heading-style-h5.is-white {
  color: var(--white);
}

.link-block {
  text-decoration: none;
}

.fs_selectcustom-1_dropdown {
  z-index: 99;
  border: 1px solid var(--light-pink);
  border-radius: 10px;
  margin-left: 0;
}

.span {
  color: var(--light-pink);
}

.div-wrap {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.standard-tab {
  opacity: .7;
  color: #fffc;
  background-color: #0000;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 16px;
  font-size: 15px;
  display: flex;
}

.standard-tab.w--current {
  opacity: 1;
  color: #fff;
  background-color: #0000;
  position: relative;
}

.slide-2 {
  background-image: url('../images/1_11.avif');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  height: 110vh;
  padding-left: 5%;
  padding-right: 5%;
}

.navbar_link-3 {
  color: #fff;
  padding: .5rem .5rem .5rem .25rem;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  transition: all .3s ease-in;
}

.navbar_link-3:hover {
  color: var(--light-pink);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--light-pink);
  text-decoration-color: var(--light-pink);
  text-underline-position: under;
  font-weight: 600;
}

.navbar_link-3.w--current {
  color: #fff;
  box-shadow: 0 2px 5px #0003;
}

.navbar_link-3.w--current:hover {
  color: #b620e0;
  font-weight: 600;
}

.navbar_link-3.no-line {
  text-decoration: none;
}

.navbar_link-3.no-line.no-r-p {
  padding-right: .5rem;
}

.navbar_link-3.no-line.no-r-p:hover {
  color: var(--light-pink);
  text-underline-position: under;
  text-decoration: underline;
}

.navbar_link-3.new {
  padding-right: .5rem;
}

.navbar_link-3.new:hover {
  color: var(--light-pink);
  text-underline-position: under;
  text-decoration: underline;
}

.navbar_link-3.new-link {
  padding-right: .8rem;
}

.navbar_link-3.new-link.w--current {
  box-shadow: none;
  padding-right: .8rem;
}

.dropdown-icon01-3 {
  color: #fff;
  justify-content: center;
  align-items: flex-end;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .9rem;
  padding-top: 24px;
  display: flex;
  position: absolute;
  inset: auto 0% auto auto;
}

.navbar_dropdown-3 {
  color: #475467;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem 2rem .5rem .25rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  transition: all .3s;
  display: flex;
}

.navbar_dropdown-3:hover {
  color: #344054;
}

.main-button {
  cursor: pointer;
  background-color: #0000;
  background-image: repeating-linear-gradient(90deg, #6619ff, #b620e0);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 15px 10px;
  transition: all .3s cubic-bezier(.95, .05, .795, .035);
  display: flex;
}

.main-button:hover {
  box-shadow: 0 2px 3px 0 var(--_apps---colors--primary\<deleted\|variable-acfa1ba4-e1ee-3cf1-2ff7-fbbffa5c3ef9\>);
  background-image: repeating-linear-gradient(90deg, #b620e0, #6619ff);
}

.uui-navbar03_dropdown-list-4.w--open {
  box-shadow: none;
  background-color: #0000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-right: 40px;
  display: flex;
  position: absolute;
  inset: 4rem auto auto 0%;
}

.uui-navbar03_dropdown-list-4.new {
  box-shadow: none;
}

.uui-navbar03_dropdown-list-4.new.w--open {
  background-color: #0000;
  overflow: hidden;
}

.uui-navbar03_dropdown-list-4.new.no-bg.w--open {
  background-image: linear-gradient(#000000e6, #000000e6);
  top: 4rem;
}

.uui-navbar03_dropdown-list-4.new.no-bg-1.w--open {
  background-image: linear-gradient(#000000e6, #000000e6);
  padding-bottom: 80px;
  top: 4rem;
}

.nav-dropdown-link-4 {
  color: #fff;
  white-space: pre-wrap;
  text-underline-offset: 1px;
  -webkit-text-decoration-color: var(--light-pink);
  text-decoration-color: var(--light-pink);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 3px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  transition: all .315s ease-in;
}

.nav-dropdown-link-4:hover {
  color: var(--light-pink);
  white-space: pre-wrap;
}

.nav-dropdown-link-4.w--current {
  color: #fff;
}

.nav-dropdown-link-4.top-8 {
  word-break: keep-all;
  align-self: flex-start;
  margin-left: 0;
  margin-right: 0;
  padding-top: 8px;
  transition-duration: .33s;
}

.nav-dropdown-link-4.top-8:hover {
  color: var(--light-pink);
}

.navbar_menu-new {
  white-space: pre-wrap;
  border: 1px #b620e0;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  position: static;
}

.navbar_container-new {
  grid-template-rows: auto;
  grid-template-columns: .25fr 1.5fr .25fr;
  grid-auto-columns: 1fr;
  place-items: center;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: grid;
}

.line-box {
  background-color: var(--light-pink);
  height: 1px;
  position: absolute;
  inset: auto auto 0% 0%;
}

.text-wrap {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  transition: background-color .33s ease-in;
  display: flex;
  position: relative;
}

.text-wrap.is-small {
  width: 60px;
}

.text-wrap.is-medium {
  width: 90px;
}

.text-wrap.is-large {
  width: 140px;
}

.text-wrap.is-xxlarge {
  width: 200px;
}

.text-wrap.is-large240 {
  width: 240px;
}

.text-wrap.is-large255 {
  width: 255px;
}

.text-wrap.is-large-170 {
  width: 170px;
  transition-duration: .315s;
}

.text-wrap.is-280 {
  width: 280px;
}

.fs_accordion-1_header {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  cursor: pointer;
  background-color: #f5f5f5;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  display: flex;
}

.fs_accordion-1_header:focus-visible, .fs_accordion-1_header[data-wf-focus-visible] {
  outline-color: var(--accessible-components--dark-grey\<deleted\|variable-c4d8099c\>);
  outline-offset: 4px;
  outline-width: 2px;
  outline-style: solid;
}

.faq-question {
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
}

.new-image-1 {
  object-fit: cover;
  border-radius: 20px;
  width: 550px;
}

.new-image-1.left-hight {
  z-index: 1;
  background-color: var(--white);
  height: 400px;
  box-shadow: none;
  position: relative;
}

.new-image-1.left-right-450 {
  z-index: 1;
  border: 1px #000;
  height: 450px;
  position: relative;
}

.new-image-1.left-hight {
  z-index: 1;
  height: 400px;
  box-shadow: none;
  z-index: 1;
  height: 400px;
  box-shadow: none;
  background-color: #fff;
  position: relative;
}

.button-2 {
  z-index: 2;
  color: #2d3337;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.new-grid {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: stretch stretch;
  display: grid;
}

.text-style-medium-8, .text-style-medium-9 {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.heading-style-h2-4 {
  z-index: 9999;
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
}

.heading-style-h2-4.is-center {
  text-align: center;
}

.heading-style-h2-4.is-center.is-white {
  z-index: 0;
  color: var(--white);
}

.body-2 {
  background-color: var(--white);
}

.heading-style-h3-4 {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-decoration: none;
}

.heading-style-h3-4.is-white {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-size-medium-5 {
  color: #000;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: none;
}

.text-size-medium-5.is-center {
  margin-bottom: 0;
}

.text-size-medium-5.is-center.is-white {
  color: #fff;
}

.text-size-small-3 {
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  line-height: 1.7rem;
  position: relative;
}

.contact-wrapper-3 {
  z-index: 4;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #f9f6f6;
  border-radius: 10px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  padding: 60px;
  display: flex;
  position: relative;
}

.body-3 {
  background-color: var(--transparent);
}

.slide-3 {
  background-image: linear-gradient(#00000080, #00000080), linear-gradient(90deg, #000c 51%, #fff0 65%), linear-gradient(350deg, #000c 22%, #fff0 50%), url('../images/Untitled-design-3_1Untitled design (3).avif');
  background-position: 0 0, 0 0, 0 0, 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
  background-attachment: scroll, scroll, scroll, scroll;
  height: 110vh;
  padding-left: 5%;
  padding-right: 5%;
}

.heading-style-h3-5 {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-decoration: none;
}

.heading-style-h3-5.is-white {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2rem;
}

.heading-style-h3-5.is-white.mb-10 {
  margin-bottom: 10px;
}

.heading-style-h2-5 {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  position: static;
}

.heading-style-h2-5.is-center {
  text-align: center;
}

.heading-style-h2-5.is-center.is-white {
  color: var(--white);
}

.heading-style-h2-5.is-mobile-center {
  font-size: 2.4rem;
}

.text-size-medium-6 {
  color: #000;
  text-align: left;
  margin-bottom: 0;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-decoration: none;
}

.text-size-medium-6.is-center {
  text-align: center;
  margin-bottom: 0;
}

.text-size-medium-6.is-center.is-white {
  color: #fff;
}

.heading-style-h2-6 {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.5rem;
  position: static;
}

.heading-style-h2-6.is-center.is-white {
  color: var(--white);
  text-align: center;
}

.customcode-wrapper {
  flex-flow: column;
  display: block;
}

.code-embed-2-copy {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  height: 100vh;
  margin-left: 0;
  padding-left: 0%;
  padding-right: 0%;
  display: flex;
}

.wrapper1 {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.section-digital-cards-1 {
  z-index: 999;
  background-color: var(--white);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 100px 5%;
  display: flex;
}

.code-embed-4 {
  display: none;
}

.body-4 {
  background-color: var(--white);
}

@media screen and (min-width: 1440px) {
  .uui-navbar03_dropdown-content-left {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: flex-start;
    display: grid;
  }

  .uui-navbar03_dropdown-content-left.new-grid {
    box-shadow: none;
  }

  .uui-navbar03_container.new {
    box-shadow: none;
    background-image: linear-gradient(#000000e6, #000000e6);
  }

  .uui-navbar03_container.new.new2.new-3 {
    margin-left: 45%;
    left: 80px;
  }

  .uui-navbar03_container.new.new2.new-4 {
    margin-left: 28%;
    left: 80px;
  }

  .uui-navbar05_item-heading-2-copy.main {
    font-size: 16px;
  }

  .uui-navbar05_item-heading-2-copy.main:hover {
    font-size: 16.5px;
  }

  .header-image {
    border-radius: 20px;
  }

  .bold-text-01 {
    line-height: 1.75rem;
  }

  .uui-navbar03_dropdown-list-4.w--open {
    top: 4.5rem;
  }

  .new-image-1 {
    border-radius: 20px;
  }
}

@media screen and (min-width: 1920px) {
  .home_div {
    display: flex;
  }

  .uui-navbar03_dropdown-content-left {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: flex-start;
    display: grid;
  }

  .uui-navbar03_container.new.new2 {
    margin-left: 35%;
  }

  .uui-navbar03_container.new.new2.new-3 {
    margin-left: 45%;
  }

  .uui-navbar03_container.new.new2.new-4 {
    margin-left: 33%;
  }

  .slide-2 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .uui-navbar03_dropdown-list-4.w--open {
    top: 4.4rem;
  }

  .line-box {
    height: 1px;
    position: absolute;
  }

  .slide-3 {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 991px) {
  .navbar_button-wrapper {
    color: var(--white);
    margin-left: .125rem;
  }

  .menu-icon_line-middle-inner {
    width: 4px;
    height: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .navbar_menu-button {
    color: var(--white);
    padding: 0;
  }

  .navbar_menu-button.w--open {
    background-color: #0000;
  }

  .container-large {
    width: 100%;
    max-width: 46rem;
  }

  .home_div {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .text-size-large.is-white {
    color: #fff;
  }

  .padding-medium {
    height: 1rem;
  }

  .heading-style-h2 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .heading-style-h2.is-center {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .card-item {
    height: 30rem;
  }

  .navbar-wrapper {
    position: relative;
  }

  .what-we-do-wrapper {
    margin-bottom: 4rem;
  }

  .contact-wrapper {
    flex-flow: column;
    padding: 20px;
  }

  .uui-navbar03_menu-dropdown {
    width: 100%;
    position: relative;
  }

  .uui-navbar03_dropdown-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .uui-navbar03_dropdown-content.new {
    width: 100%;
  }

  .uui-navbar03_dropdown-content-left {
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    align-items: start;
    padding-left: 0;
    padding-right: 0;
  }

  .uui-navbar03_dropdown-content-left.new-grid {
    width: 100%;
    box-shadow: none;
    width: 100%;
    box-shadow: none;
    width: 100%;
    box-shadow: none;
  }

  .uui-navbar03_dropdown-content-left.new-1 {
    grid-column-gap: 2rem;
    place-content: stretch;
    place-items: center start;
  }

  .uui-navbar03_container {
    padding-left: 0;
  }

  .uui-navbar03_container.new.new2, .uui-navbar03_container.new.new2.new-3, .uui-navbar03_container.new.new2, .uui-navbar03_container.new.new2.new-3 {
    margin-left: 0%;
  }

  .uui-navbar03_container.new {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    left: 0;
  }

  .footer_top-wrapper {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .header-image {
    width: auto;
  }

  .header-image.right-hight {
    width: 100%;
  }

  .contact-wrapper-pruple {
    flex-flow: column;
    width: 100%;
  }

  .al-div-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .key-wrapper {
    flex-flow: column;
  }

  .div-btn {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .padding-global {
    padding-left: 5%;
    padding-right: 5%;
  }

  .slide-2 {
    background-image: linear-gradient(#0000, #0000), linear-gradient(90deg, #000c 51%, #3f3a3aa3 65%), linear-gradient(350deg, #000c 22%, #fff0 50%), url('../images/17_117.webp');
    background-position: 0 0, 0 0, 0 0, 0 100%;
    background-size: auto, auto, auto, cover;
  }

  .menu-icon_line-bottom-2 {
    color: #fff;
    background-color: #fff;
    width: 24px;
    height: 4px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon_line-top-2 {
    background-color: #fff;
    width: 24px;
    height: 4px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-icon-2 {
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -.5rem;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .navbar_link-3 {
    text-align: left;
    padding: 1rem 0;
    font-size: 1.125rem;
  }

  .dropdown-icon01-3 {
    color: #fbfbfb;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    inset: auto 0% auto auto;
  }

  .navbar_dropdown-3 {
    justify-content: flex-start;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0;
    font-size: 1.125rem;
    display: flex;
  }

  .navbar_dropdown-3:hover {
    color: #101828;
  }

  .menu-icon_line-middle-4 {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-bottom: 0;
    padding-right: 0;
    display: flex;
  }

  .main-button {
    justify-content: center;
    align-items: center;
  }

  .uui-navbar03_dropdown-list-4 {
    position: relative;
    overflow: hidden;
  }

  .uui-navbar03_dropdown-list-4.w--open {
    width: 100%;
    box-shadow: none;
    border-style: none;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    padding: 0 0 0 30px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }

  .uui-navbar03_dropdown-list-4.new.w--open {
    width: 30%;
    padding-left: 0;
  }

  .navbar_menu-new {
    -webkit-text-fill-color: inherit;
    background-color: #000;
    background-clip: border-box;
    border-bottom: 1px #000;
    border-radius: 4px;
    justify-content: center;
    width: 100%;
    padding: 1rem 5% 2.5rem;
    display: flex;
    position: absolute;
    overflow: visible;
  }

  .navbar_container-new {
    grid-template-columns: .25fr 1.5fr;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    display: flex;
  }

  .new-image-1 {
    width: 100%;
    height: 100%;
    box-shadow: none;
  }

  .new-image-1.left-hight {
    width: 100%;
    height: 100%;
  }

  .new-grid {
    grid-column-gap: 70px;
    grid-row-gap: 70px;
    grid-template-columns: 1fr;
    place-items: center;
  }

  .heading-style-h2-4 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .heading-style-h2-4.is-center {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .contact-wrapper-3 {
    flex-flow: column;
    padding: 20px;
  }

  .slide-3 {
    background-image: linear-gradient(#0000, #0000), linear-gradient(90deg, #000c 51%, #3f3a3aa3 65%), linear-gradient(350deg, #000c 22%, #fff0 50%), url('../images/17_117.webp');
    background-position: 0 0, 0 0, 0 0, 0 100%;
    background-size: auto, auto, auto, cover;
  }

  .heading-style-h2-5 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .heading-style-h2-5.is-center {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .heading-style-h2-6 {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .heading-style-h2-6.is-center {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .code-embed-2-copy {
    width: 100%;
  }

  .section-digital-cards-1 {
    flex-flow: column;
  }
}

@media screen and (max-width: 767px) {
  .navbar_component {
    min-height: 4rem;
  }

  .container-large {
    justify-content: space-between;
    align-items: stretch;
  }

  .text-size-large.is-white {
    color: #fff;
  }

  .heading-style-h2 {
    font-size: 2.25rem;
  }

  .heading-style-h2.is-center.is-white {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .text-style-medium, .text-size-medium {
    font-size: 1rem;
  }

  .text-size-medium.is-center {
    text-align: center;
  }

  .contact-wrapper {
    flex-flow: column;
    padding: 20px 10px;
  }

  .uui-navbar03_dropdown-link-list, .uui-navbar05_dropdown-link-list-5 {
    grid-row-gap: .5rem;
    max-width: none;
  }

  .uui-navbar03_dropdown-content-left {
    grid-row-gap: 1.5rem;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .uui-navbar03_container.new.new2 {
    margin-left: 0%;
  }

  .uui-navbar05_dropdown-link-list-5-copy {
    grid-row-gap: .5rem;
    max-width: none;
  }

  .footer_top-wrapper {
    grid-row-gap: 2rem;
  }

  .footer_menu-wrapper {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1rem;
    grid-template-columns: .75fr .75fr;
    place-items: start;
  }

  .footer_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer_credit-text {
    margin-top: 0;
  }

  .text-size-small {
    font-size: 1rem;
  }

  .list {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .contact-wrapper-pruple {
    padding: 40px;
  }

  .al-div-wrapper {
    grid-template-columns: 1fr;
  }

  .key-wrapper {
    padding: 40px 20px;
  }

  .timeline10_circle {
    margin-top: 2.25rem;
  }

  .standard-tab {
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 5px;
  }

  .slide-2 {
    background-image: linear-gradient(90deg, #000000b3 100%, #3f3a3aa3 65%), linear-gradient(350deg, #000c 22%, #fff0 50%), url('../images/17_117.webp');
    background-position: 0 0, 0 0, 50%;
    background-repeat: repeat, repeat, repeat;
    background-size: auto, auto, cover;
    background-attachment: scroll, scroll, scroll;
  }

  .navbar_dropdown-3 {
    font-size: 1rem;
  }

  .main-button {
    justify-content: center;
    align-items: center;
  }

  .new-grid {
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }

  .text-style-medium-8, .text-style-medium-9 {
    font-size: 1rem;
  }

  .heading-style-h2-4 {
    font-size: 2.25rem;
  }

  .heading-style-h2-4.is-center.is-white {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .text-size-medium-5, .text-size-small-3 {
    font-size: 1rem;
  }

  .contact-wrapper-3 {
    flex-flow: column;
    padding: 20px 10px;
  }

  .slide-3 {
    background-image: linear-gradient(90deg, #000000b3 100%, #3f3a3aa3 65%), linear-gradient(350deg, #000c 22%, #fff0 50%), url('../images/17_117.webp');
    background-position: 0 0, 0 0, 50%;
    background-repeat: repeat, repeat, repeat;
    background-size: auto, auto, cover;
    background-attachment: scroll, scroll, scroll;
  }

  .heading-style-h2-5 {
    font-size: 2.25rem;
  }

  .heading-style-h2-5.is-center.is-white {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .text-size-medium-6 {
    font-size: 1rem;
  }

  .text-size-medium-6.is-center {
    text-align: center;
  }

  .heading-style-h2-6 {
    font-size: 2.25rem;
  }

  .heading-style-h2-6.is-center.is-white {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .code-embed-2-copy {
    width: 100%;
  }

  .section-digital-cards-1 {
    text-align: center;
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

@media screen and (max-width: 479px) {
  .navbar_logo {
    width: auto;
  }

  .navbar_button-wrapper {
    margin-left: .125rem;
  }

  .container-large {
    max-width: 360px;
  }

  .text-size-large.is-center {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .text-size-large.is-center.is-white {
    text-align: center;
  }

  .text-size-large.is-white {
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .padding-medium {
    height: .5rem;
  }

  .heading-style-h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .heading-style-h2.is-center {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-style-h2.is-center.is-white {
    line-height: 2.4rem;
  }

  .heading-style-h2.is-white {
    text-align: center;
  }

  .heading-style-h2.is-mobile-center {
    padding-top: 0;
    padding-bottom: 0;
  }

  .card-item {
    height: 25rem;
  }

  .heading-style-h3 {
    text-align: center;
  }

  .heading-style-h3.is-white {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .heading-style-h3.is-white.mb-10.left {
    text-align: left;
  }

  .heading-style-h3.is-center {
    font-size: 1.3rem;
    line-height: 1.625rem;
  }

  .navbar-wrapper {
    padding-left: .125rem;
    padding-right: .125rem;
  }

  .what-we-do-wrapper {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
    margin-bottom: 2rem;
  }

  .contact-wrapper {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .uui-navbar03_dropdown-link-list {
    z-index: 9999;
    justify-content: flex-start;
    align-items: center;
  }

  .uui-navbar03_dropdown-content {
    z-index: 9999;
  }

  .uui-navbar03_dropdown-content.new {
    justify-content: space-between;
    align-items: flex-start;
  }

  .uui-navbar05_dropdown-link-list-5 {
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }

  .uui-navbar03_dropdown-content-left {
    z-index: 9999;
    grid-template-columns: 1fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .uui-navbar03_dropdown-content-left.new-grid.no-shadow {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .uui-navbar03_container.new.new2, .uui-navbar03_container.new.new2.new-4, .uui-navbar03_container.new.new2 {
    margin-left: 0%;
  }

  .list-item01.is-margin-10px {
    z-index: 9999;
  }

  .section-footer {
    padding: 20px 2%;
  }

  .footer_link-list {
    width: 150px;
  }

  .footer_menu-wrapper {
    grid-column-gap: .8rem;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    place-items: start center;
  }

  .footer_link-main {
    padding-top: .125rem;
    padding-bottom: .125rem;
  }

  .footer_bottom-wrapper {
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .footer_credit-text {
    text-align: center;
  }

  .text-size-small.is-white {
    line-height: 1.5rem;
  }

  .header-image.right-hight {
    height: auto;
  }

  .list {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    padding-left: 25px;
  }

  .list01 {
    padding-left: 25px;
  }

  .contact-wrapper-pruple {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 20px;
  }

  .al-div-wrapper {
    grid-template-columns: 1fr;
  }

  .ai-wrapper {
    margin-bottom: 2rem;
  }

  .key-wrapper {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 20px 10px;
  }

  .div-btn {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .heading-style-h5 {
    font-size: .9rem;
  }

  .heading-style-h5.is-center {
    font-size: .9rem;
    line-height: 1.2rem;
  }

  .heading-style-h5.is-center.is-white {
    text-align: left;
  }

  .slide-2 {
    background-image: linear-gradient(90deg, #000000e6 100%, #fff0 100%, #fff0), linear-gradient(7deg, #000c 22%, #fff0 50%), url('../images/1700500123775_11700500123775.avif');
    background-position: 0 0, 0 0, 50%;
    background-repeat: repeat, repeat, repeat;
    background-size: auto, auto, cover;
    background-attachment: scroll, scroll, scroll;
    padding-left: 2%;
    padding-right: 2%;
  }

  .menu-icon-2 {
    width: 40px;
    margin-right: .6rem;
  }

  .navbar_dropdown-3.w--open {
    z-index: 0;
  }

  .main-button {
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
  }

  .uui-navbar03_dropdown-list-4.w--open {
    height: 100%;
    padding-left: 10px;
  }

  .navbar_menu-new {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
  }

  .navbar_container-new {
    grid-template-columns: .25fr 1fr;
    max-width: 360px;
  }

  .new-image-1.left-hight {
    height: auto;
  }

  .heading-style-h2-4 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .heading-style-h2-4.is-center {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-style-h2-4.is-center.is-white {
    line-height: 2.4rem;
  }

  .heading-style-h3-4 {
    text-align: center;
  }

  .heading-style-h3-4.is-white {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .contact-wrapper-3 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .slide-3 {
    background-image: linear-gradient(90deg, #000000e6 100%, #fff0 100%, #fff0), linear-gradient(7deg, #000c 22%, #fff0 50%), url('../images/1700500123775_11700500123775.avif');
    background-position: 0 0, 0 0, 50%;
    background-repeat: repeat, repeat, repeat;
    background-size: auto, auto, cover;
    background-attachment: scroll, scroll, scroll;
    padding-left: 2%;
    padding-right: 2%;
  }

  .heading-style-h3-5 {
    text-align: center;
  }

  .heading-style-h3-5.is-white {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .heading-style-h3-5.is-white.mb-10.left {
    text-align: left;
  }

  .heading-style-h2-5 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .heading-style-h2-5.is-center {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-style-h2-5.is-center.is-white {
    line-height: 2.4rem;
  }

  .heading-style-h2-5.is-mobile-center {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-style-h2-6 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .heading-style-h2-6.is-center {
    padding-top: 0;
    padding-bottom: 0;
  }

  .heading-style-h2-6.is-center.is-white {
    line-height: 2.4rem;
  }

  .code-embed-2-copy {
    width: 100%;
  }
}


